<ul>NAME - <%= @cat.name %>
    <li>Birthday - <%= @cat.birthday %></li>
    <li>Color - <%= @cat.color %></li>
    <li>Sex - <%= @cat.sex %></li>
    <li>Description -<%= @cat.description %></li>
  </ul>
